
body {
	font-family: 'Raleway';
	font-weight: 300;
	font-size: 20px;
	margin: 0;
	line-height: 1.3;
	box-sizing: border-box;
}		

body > main, footer {
		padding: 1rem 2rem;
}


header {
	padding: 0;
}

header > * {
	padding: 0 2rem;
}

h1 {
	font-size: 2.0em;
	font-weight: 500;
	padding-bottom: 1em;

	margin: 0;
	padding: 0;
}

h2 {
	font-size: 1.6em;
	font-weight: 500;

	margin: 0;
	padding: 0;
	padding-bottom: 1em;
	max-width: 50ch;
}

h3 {
	font-size: 1.3em;
	font-weight: 500;

	margin: 0;
	padding: 0;
	padding-bottom: 1em;
	max-width: 50ch;
}

p {
	margin: 0;
	padding: 0;
	padding-bottom: 1em;
	max-width: 50ch;
}

ul {
	margin: 0;
	padding: 0;
	padding-bottom: 1em;
	margin-left: 1em;
	max-width: 50ch;
}


.backwards {
	display: inline-block;
	transform: scaleX(-1);
}

.black {
	background-color: #333;
}

