/* layout.css */

@media screen and (max-width: 799px) {
	body { border: 4px solid red; }
	#menu-small { display: flex; }
	#menu-large { display: none; }

	header {
		font-size:16px;
	}
}

@media screen and (min-width: 800px) {
	body { border: 4px solid green; }
	#menu-small { display: none; }
	#menu-large { display: inline-block; }
}

